.liBorder{
  width: 10%;
  height: 2px;
  background-color: red;
  visibility: hidden;
  transition: width .3s ease-in-out;
}

.navList:hover .liBorder{
  visibility: visible;
  width: 100%;
}

.cartIcon{
  cursor: pointer;
}

.cartUi{
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  transition: all .15s ease-in-out;
}

.cartIcon:hover .cartUi{
  visibility: visible;
  opacity: 1;
}